<%- include('partials/header'); -%>

    <h1>Compose</h1>
    <form class="" action="/addContent" method="post">
      <input type="text" name="content" value="Add Content">
      <button type="submit" name="publish">Publish</button>
    </form>


<%- include('partials/footer'); -%>
